* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
/* body{
    width: 100vw;
} */
h2 {
  color: #2222cc;
  font-size: 25px;
}
.grid-item {
  padding: 15px;
  background-color: blue;
  color: white;
  border-radius: 12px;
  padding: 25px 35px;
}
.grid-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #212121;
  margin-top: 100px;
  margin-bottom: 30px;
}
.grid-container {
  display: grid;
  max-width: 70rem;
  width: 100%;
  /* grid-template-columns: repeat(3,1fr); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  background-color: tomato;
}

/* Second Grid */

.grid-container-2 {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr;
  gap: 20px;
  height: 100vh;
  margin: 20px;
}
.header,
.footer {
  background-color: #21cc21;
  padding: 20px;
}
.side-bar {
  background-color: #aa2121;
  padding: 20px;
}
.main-content {
  background-color: gray;
}

/* third Grid */

.grid-wrapper-3 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;
  margin-top: 100px;
}
.grid-cell {
  background-color: #9b59b6;
  color: white;
  padding: 20px;
  text-align: center;
}

/* fourth grid */
.grid-wrapper-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-template-areas:
    "header header header header"
    "main main . sidebar"
    "footer footer footer footer";
}
.item-a {
  grid-area: header;
  background-color: #aa2121;
  height: 50px;
}
.item-b {
  grid-area: main;
  background-color: #9b59b6;
  height: 500px;
}
.item-c {
  grid-area: sidebar;
  background-color: violet;
  height: 500px;
}
.item-d {
  grid-area: footer;
  background-color: rebeccapurple;
  height: 50px;
}

/* projects */
.project-wrapper {
  margin-top: 100px;
}
.project-header {
  margin: 10px auto;
  width: 10rem;
  padding: 10px;
  text-align: center;
  border-radius: 3px;
  background-color: darkgray;
}
.project-container {
  display: flex;
  gap: 3rem;
  text-align: center;
  justify-content: center;
  /* width: 100%; */
}

.project-1,
.project-2 {
  margin-top: 10px;
  align-items: center;
  max-width: 900px;
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px 15px;
}
.p-title {
  font-size: 24px;
  font-weight: 600px;
  padding-top: 10px;
  font-style: bold;
}
.p-des {
  font-size: 16px;
  font-weight: 400px;
  padding-top: 20px;
  line-height: 30px;
  text-align: justify;
}
/* header */
.header {
  display: flex;
  justify-content: space-between;
}
ul {
  display: flex;
  /* justify-content: space-around; */
  /* width: 10rem; */
  gap: 3rem;
  list-style: none;
}
ul a {
  text-decoration: none;
}
/* tailwind */
.tailwind {
  margin-top: 20px;
  width: 20rem;
  padding: 10px;
  text-align: center;
  background-color: darkgray;
  border: none;
  cursor: pointer;
  height: 4rem;
  flex-shrink: 0;
  box-sizing: border-box;
  border-radius: 0.375rem;
  border: 1px solid #8692a6;
}
.tailwind a {
  text-decoration: none;
  color: #222;
  font-size: 1.3rem;

}

/* max-width */
.test-max-w{
    max-width: 1000px;
    width: 100%;
    background-color: grey;
    border: 1px solid lightgray;
    border-radius: 14px 5px;
    min-height: 400px;
    height: fit-content;
    margin: 0 auto;
}
.mobile-first{
    max-width: 1000px;
    width: 100%;
    background-color: tomato;
    border: 1px solid lightgray;
    border-radius: 14px 5px;
    min-height: 400px;
    height: fit-content;
    margin: 0 auto;
}
@media (min-width: 1200px) {
    .mobile-first{
        background-color: black;
    }
}

/* media query */
@media (max-width: 500px) {
  .project-container {
    flex-direction: column;
  }
}
/* @media (max-width: 800px){
    .grid-container{
        grid-template-columns: repeat(2,1fr);
    }   
}
@media (max-width: 500px){
    .grid-container{
        display: block;
    }   
} */
