*{
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin: 20px;
  }

  h2 {
    color: #333;
  }

  picture {
    height: fit-content;
    max-height: 100vh;
    max-width: 2560px;
    width: 100%;
    /* display: inline-block; */
  }

  img {
    max-width: 70rem;
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-top: 10px;
  }